@import "~materialize-css/dist/css/materialize.min.css";

.b-load {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.b-nav {
    background-color: #78909c ;
}
.b-margin {
    margin-left: 5rem;
}
.b-button {
    height: 3rem;
    position: relative;
    cursor: pointer;
    width: 3rem;
    /*border: 1px #78909c solid;*/
    /*border-radius: 50%;*/
}
.b-right {
    float: right;
}
.b-left {
    float: left;
}
.b-button  span {
    font-size: 2.5rem ;
}
